body {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #fff;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 141px;
    margin-right: 141px
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

 .footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.address-link:hover,
.address-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.main-heade {
    background-color: #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.main-button {
    background: #4d5ae5;
}
.main-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}

.main-criterias-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.main-criterias-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.main-criterias-page {
    background-color: #FFFFFF;
}

.our-team {
    background-color: #F4F4FD;
}
.team-icon {
    background-color: #FFFFFF;
}

.team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}



.team-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.portfolio-list {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-page {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer-section {
    background-color: #2e2f42;
}

.footer-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}