body {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #fff;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block; 
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.page-header {
    display: flex;
    justify-content: center;
    height: 72px;
}

.page-header .container {
    display: flex;
    gap: 24px;
    align-items: center;
    height: 72px;
}

.header-nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.nav-list {
    display: flex;
    justify-items: center;
    column-gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    padding-right: 76px;
}

.main-heade {
    height: 600px;
}


.title {
    display: none;
}

.main-criterias-items {
    display: flex;
    margin: 0 auto;
    padding: 120px 0;
}

.main-criterias-page {
    display: block;
    text-align: center;
}

.container .our-team-objekts {
    display: flex;
    margin: 0 auto;
}

.team-names {
    text-align: center;
    padding: 32px 0 8px;
}

.team-icon {
    display: flex;
    flex-direction: column;
    height: 260px;
    width: calc((100% - 24px * 3) / 4);
}

.team-page {
    text-align: center;
}

.our-portfolio {
    padding-top: 120px;
}

.portfolio-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    width: calc((100% - 24px * 6) / 6);
}

.team-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 120px;
}

.our-portfolio-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 72px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

 .footer-logo .logo-part {
    color: #f4f4fd;
}

.contacts .address-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 24px;
}



.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
}


.contacts {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.address-link:hover,
.address-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.main-heade {
    background-color: #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-top: 188px;
    max-width: 496px;
    margin: 0 auto;
    padding-bottom: 48px;
}

.main-button {
    background: #4d5ae5;
    color: #fff;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.main-button {
    display: block;
    margin: 0 auto;
}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}



.main-criterias-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.main-criterias-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.main-criterias-page {
    background-color: #FFFFFF;
}

.our-team {
    background-color: #F4F4FD;
}
.team-icon {
    background-color: #FFFFFF;
}

.team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}



.team-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.portfolio-list {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-page {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer-section {
    background-color: #2e2f42;
}

.footer-page {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}